* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 207, 129);
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(255, 185, 150);
}

p {
    display: flex;
    height: 64px;
    line-height: 32px;
    padding: 16px 12% 8px;
    background-color: rgb(253, 255, 171)
}

#playerButtons {
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: rgb(255, 207, 129);
}

button {
    margin-top: 15px;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
  }

button:hover {
    transform: rotateY(180deg);
}

#resultsArea {
    display: flex;
    justify-content: center;
    height: 150px;
    border: 2px green solid;
}

#numberBoard {
    display: flex;
    gap: 75px;
    margin-top: 8px;
}

.numberDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.45);
    background-color: rgba(255, 255, 255, 0.25);
    height: 125px;
    width: 125px;
    border-radius: 8px;
    font-size: 64px;
    font-family: 'Courier New', Courier, monospace;
}

.separator {
    font-size: 64px;
    text-align: center;
    margin-top: 24px;
}